/.project
/.settings/
/spring.log
/.idea/*
/target/
*.iml
*.idea
/${jboss.deploy.dir}
/.cvsignore
/.project
/target/
/.settings/
/.classpath
/.pmd
/spring.log
/.idea
/log.directory_IS_UNDEFINED/
/.factorypath